:root {
    --first-colour: #84828f;
    --second-colour: #6a687a;
    --third-colour: #536271;
    --fourth-colour: #3E4C5E;
    --fifth-colour: #2C3D55;
}


body {
    background-color: var(--fifth-colour);
    font-family: 'Gill Sans Mt';
    color: var(--first-colour);
}

header {
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
    margin-bottom: 100px;
}

footer {
    position: static;
    margin-bottom: 5px;
    font-size: x-small;
    text-align: center;
    padding: 50px;
    margin-top: 5px;
}

h2 {
    text-align: center;
    font-size: x-large;
}

.blogArea {
    display: flex;
    border: #536271 solid;
    border-width: 3px;
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    height: 500px;
    color: white;
}

img {
    max-width: 100px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 6px;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    justify-content: center;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: var(--first-colour);
}

.navbar a:hover {
    color: var(--second-colour);
    background: var(--fourth-colour);
}
